<%- include partials/header.ejs %> 

<body class="mainbody">
  <%- include partials/navbar.ejs %> 

  <p>I am Wai Tung Wong a second year Software Engineering Technician diploma student.</p>
</body>
<%- include partials/footer.ejs %> 
</html>