<%- include partials/header.ejs %> 

<body class="mainbody">
  <%- include partials/navbar.ejs %> 
  <br>
  <h2>Welcome to My Personal Portfolio website - JW Programming</h2>
  <br>
  <h4>Help my customers achieve their targets by creating a website that satisfy their need is my mission.</h4>
  <br>
  <h4>If you want to know more about me please click: <a href="aboutme">About me</a></h4>
  <h4>If you want to view some of my projects please click: <a href="projects">Projects</a></h4>
  <h4>If you want to know my services please click: <a href="services">Services</a></h4>
  <h4>If you want to contact me please click: <a href="contact">Contact</a></h4>
  <br>

</body>
<%- include partials/footer.ejs %> 
</html>