<%# services.ejs Wai Tung Wong 301222578 2022-10-14 %>
<%# include header %> 
<%- include partials/header.ejs %> 

<body class="mainbody">
    <%# included the navigation bar %>
    <%- include partials/navbar.ejs %> 
    <br>
    <h3>Here are the services that I provide:</h3>
    <ul>
        <li><h4>Web development</h4></li>
        <li><h4>General programming</h4></li>
        <li><h4>Design different documents: ERD, Domain Class diagram, SRS, and others.</h4></li>
    </ul>
</body>
<%# include the Scripts & footer %>
<%- include partials/footer.ejs %> 
</html>